<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>HomePage - Farman</title>
</head>

<body>
    <!--NAVBAR-->

    <div class="navbar">
        <div class="logo">
            <h1><a href="Home.html">TECHKEN</a></h1>
        </div>
        <div class="nav-toggle" onclick="toggleNav()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="nav-list">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="About.html">About</a></li>
                <li><a href="Services.html">Services</a></li>
                <li><a href="Career.html">Careers</a></li>
                <li><a href="Contact.html">Contact</a></li>
            </ul>
        </div>
    </div>

    <!--HOME PAGE-->

    <div class="container-homepage">
        <div class="home-text">
            <h2>Empowering possibilities, Transforming Realities</h2>
            <p>Let us work hand in hand to realize your vision, elevate your bussiness, and create a better tomorrow for
                all, Experience the power of possibility and the magic of transformation with us</p>
            <button id="home-button"><a href="Contact.html">Get a Demo</a></button>
        </div>
        <div class="home-image">
            <img src="./Assets/Banner (1).png" alt="" >
        </div>
    </div>

    <!--FEATURES PAGE-->

    <div class="container-featurepage">
        <div class="features-text">
            <h2>Features That You Need</h2>
            <p>Credibly grow premier ideas rather than bricks-and-clicks strategic theme areas <br> distributed for
                stand-alone web-readiness</p>
        </div>

        <!--Feature Cards-->


        <div class="feature-cards">
            <div class="card-01">
                <img src="./Assets/good performance.png" alt="" width="130">
                <h3>Good Performance</h3>
                <p>
                    Our focus on efficient project management allows us to deliver solutions on time, without
                    compromising on quality.</p>
            </div>

            <div class="card-02">
                <img src="./Assets/highly secure.png" alt="" width="130">
                <h3>Highly Secure</h3>
                <p>
                    Our commitment to providing highly secure solutions is unwavering, ensuring that your valuable data
                    and digital assets are protected against evolving threats.</p>
            </div>

            <div class="card-01">
                <img src="./Assets/fast development.png" alt="" width="130">
                <h3>Fast Development </h3>
                <p>Our commitment to fast development empowers you to swiftly realize your vision, seize opportunities,
                    and stay ahead of the competition</p>
            </div>


        </div>

    </div>

    <!-- Achievements -->

    <section id="achievements">
            <div class="achievements-text">
                <h2>Driving Innovation <br> Achieving Milestones in Technology</h2>
                <p>Join us Now</p>
            </div>
            <div class="four" id="testimonails">

                <div class="box">
        
                    <h1 class="boxh1">50</h1>
                    <p class="boxp">Number of Lenders</p>
                </div>
                <div class="box">
                    <h1 class="boxh1">100+</h1>
                    <p class="boxp">Product Sales</p>
                </div>
                <div class="box">
                    <h1 class="boxh1">25</h1>
                    <p class="boxp">Live Loans</p>
                </div>
                <div class="box">
                    <h1 class="boxh1">12</h1>
                    <p class="boxp">Live Transactions</p>
                </div>
        </div>
    </section>
   
    <!-- Advance-Analytics -->

    <div class="advance-analytics">
        <div class="advance-analytics-text">
            <h2>Advanced Analytics, <br>
                Understand Business</h2>
                <p>Our team of experts works closely with you to understand your business objectives, tailoring solutions that provide meaningful and actionable insights. Experience the power of advanced analytics and understand your business like never before with us</p>
                <button id="advance-analytics-button"><a href="About.html">LEARN MORE</a></button>
        </div>
        <div class="advance-analytics-image">
            <img src="./Assets/Group 3.png" alt="" width="600">
        </div>
    </div>


    <!-- Match Everything Match Everything -->
    
    <div class="match-everything">
        <div class="match-everything-image">
            <img src="./Assets/Group 2.png" alt="" >
        </div>
        <div class="match-everything-text">
            <h2>Match Everything <br>
                to Brand and Style</h2>
                <p>DataSights is a modern and innovative data analytics company that specializes in providing advanced analytics solutions to businesses of all sizes</p>
                <button id="match-everthing-button"><a href="">LEARN MORE</a></button>
        </div>
    </div>

    <!--FOOTER-->

    <footer>
        
        <div class="footer-content">
        <div class="office">
            <h3>Our Head Office</h3>
            <p>123 Main Street, <br> Suite 101 Tech City, <br> CA 98765 United States</p>
        </div>

        <div class="primary-page">
            <h3>Primary Pages</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="About.html">About</a></li>
                <li><a href="Services.html">Services</a></li>
                <li><a href="Career.html">Careers</a></li>
                <li><a href="Contact.html">Contact</a></li>
            </ul>
        </div>

        <div class="follow-us">
            <h3>Follow us</h3>
            <div class="icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
        </div>
    </div>

    <hr>
    </footer>

    <script>
         function toggleNav() {
            const navList = document.querySelector('.nav-list');
            navList.style.display = navList.style.display === 'flex' ? 'none' : 'flex';
        }
    </script>
</body>

</html>