<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="About.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>AboutPage - Farman</title>
</head>

<body>
     <!--NAVBAR-->

     <div class="navbar">
        <div class="logo">
            <h1><a href="Home.html">TECHKEN</a></h1>
        </div>
        <div class="nav-toggle" onclick="toggleNav()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="nav-list">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="About.html">About</a></li>
                <li><a href="Services.html">Services</a></li>
                <li><a href="Career.html">Careers</a></li>
                <li><a href="Contact.html">Contact</a></li>
            </ul>
        </div>
    </div>

    <!-- About-Page -->
    <section id="aboutPage">
           <div class="about">
            <h1>about us</h1>
           </div>
    </section>


<!--About-Home-Page-->

<div class="aboutHomePage">
    <h2>"At the heart of our company lies a passion for <br>technology and a commitment to excellence in <br> everything we do."</h2>
    <p>Our mission is simple: to empower businesses through technology. We believe that the right technology solutions can <br> unlock new opportunities, streamline operations, and fuel innovation. That's why we're dedicated to providing tailored <br> IT solutions that align with your unique goals and challenges.</p>
</div>

<!--FEATURES PAGE-->

<div class="container-featurepage">
    <div class="features-text">
        <h2>What Sets Us Apart</h2>
    </div>

    <!--Feature Cards-->


    <div class="feature-cards">
        <div class="card-01">
            <img src="./Assets/expertise.png" alt="" width="130">
            <h3>Expertise</h3>
            <p>
                Our focus on efficient project management allows us to deliver solutions on time, without
                compromising on quality.</p>
        </div>

        <div class="card-02">
            <img src="./Assets/innovation.png" alt="" width="130">
            <h3>Innovation</h3>
            <p>
                Our commitment to providing highly secure solutions is unwavering, ensuring that your valuable data
                and digital assets are protected against evolving threats.</p>
        </div>

        <div class="card-01">
            <img src="./Assets/collaboration.png" alt="" width="130">
            <h3>Collaboration </h3>
            <p>Our commitment to fast development empowers you to swiftly realize your vision, seize opportunities,
                and stay ahead of the competition</p>
        </div>


    </div>

</div>

<!--CASE STUDIES-->

<div class="case-studies">
    <div class="case-image">
        <img src="./Assets/Rectangle 14.png" alt="">
    </div>

    <div class="case-details">
       <h2>Client Success Stories</h2> 
       <p>
        We measure our success by the success of our clients. Over the years, we've had the privilege of working with businesses of all sizes across various industries, helping them achieve their IT objectives and drive growth.</p>
        <button id="case-details-button"><a href="Career.html">view case Studies</a></button>
    </div>
</div>

<!--Explore Techzen-->

<div class="container-techzen">
    <div class="techzen-text">
        <h2>Explore Techzen</h2>
    </div>

    <!--Explore Techzen Cards-->


    <div class="techzen-cards">
        <div class="card-01">
            <img src="./Assets/career with us.png" alt="" width="330">
            <h3>Career With Us</h3>
            
        </div>

        <div class="card-02">
            <img src="./Assets/our services.png" alt="" width="330">
            <h3>Our Services</h3>
        </div>

        <div class="card-01">
            <img src="./Assets/our testimonials.png" alt="" width="330">
            <h3>Our Testimonials </h3>
        </div>


    </div>

</div>

<!--Other Queries-->

<section id="queries">
    <div class="queries-details">
        <div class="queries-text">
            <h2>Other Queries</h2>
            <p>For all other enquiries, please complete this form and one of the team will be in touch.</p>
        </div>
        <div class="queries-button">
            <button><a href="Contact.html">Get in Touch</a></button>
        </div>
    </div>

</section>
 <!--FOOTER-->

 <footer>
        
    <div class="footer-content">
    <div class="office">
        <h3>Our Head Office</h3>
        <p>123 Main Street, <br> Suite 101 Tech City, <br> CA 98765 United States</p>
    </div>

    <div class="primary-page">
        <h3>Primary Pages</h3>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>

    <div class="follow-us">
        <h3>Follow us</h3>
        <div class="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
    </div>
    </div>
</div>

<hr>
</footer>






<script>
    function toggleNav() {
       const navList = document.querySelector('.nav-list');
       navList.style.display = navList.style.display === 'flex' ? 'none' : 'flex';
   }
</script>
</body>
</html>