<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Services.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Services-Page - Farman</title>
</head>

<body>
    <!--NAVBAR-->

    <div class="navbar">
        <div class="logo">
            <h1><a href="Home.html">TECHKEN</a></h1>
        </div>
        <div class="nav-toggle" onclick="toggleNav()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="nav-list">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="About.html">About</a></li>
                <li><a href="Services.html">Services</a></li>
                <li><a href="Career.html">Careers</a></li>
                <li><a href="Contact.html">Contact</a></li>
            </ul>
        </div>
    </div>

    <!-- Service-Page -->
    <section id="servicePage">
        <div class="service-text">
            <h2>Our services </h2>
           <p>IT companies typically offer a wide range of services to cater <br>
            to the diverse needs of their clients.</p>
        </div>
           
    </section>

    <!--Opportunities-->


    
    <div class="four" id="testimonails">

        <div class="box">
             <div class="service-image">
                <i class="fa-solid fa-laptop"></i>
             </div>
            <h1 class="boxh1">IT Design</h1>
            <p class="boxp">Design plays a crucial role in IT companies across various aspects, from product development to user experience (UX) and interface design.</p>
          
        </div>

        <div class="box">
           <div class="service-image">
            <i class="fa-regular fa-user"></i>
           </div>
            <h1 class="boxh1">IT management</h1>
            <p class="boxp">Managing an IT company involves overseeing a variety of functions, from technical operations to personnel management.</p>
          
        </div>

        <div class="box">
            <div class="service-image">
                <i class="fa-solid fa-file-shield"></i>
            </div>
            <h1 class="boxh1">Data security</h1>
            <p class="boxp">Data security in an IT company is paramount due to the sensitive nature of the information they handle.</p>
          
        </div>


        <div class="box">
            <div class="service-image">
                <i class="fa-solid fa-gear"></i>
            </div>
            <h1 class="boxh1">bussiness reform</h1>
            <p class="boxp">Design plays a crucial role in IT companies across various aspects, from product development to user experience (UX) and interface design.</p>
            
        </div>
        <div class="box">
            <div class="service-image">
                <i class="fa-solid fa-folder"></i>
            </div>
            <h1 class="boxh1">SEO and Content</h1>
            <p class="boxp">Implementing SEO in an IT company is crucial for increasing online visibility and attracting potential clients or customers.</p>
           
        </div>
        
        <div class="box">
            <div class="service-image">
                <i class="fa-solid fa-pen-nib"></i>
            </div>
            <h1 class="boxh1">Illustration</h1>
            <p class="boxp">Illustration plays a vital role in the branding, communication, and user experience of an IT company.</p>
              
        </div>
        <div class="box">
            <div class="service-image">
                <i class="fa-solid fa-bars"></i>
            </div>
            <h1 class="boxh1">Firewall advance</h1>
            <p class="boxp">Implementing advanced firewall solutions in an IT company involves several key steps and considerations.</p>
         
        </div>

        <div class="box">
            <div class="service-image">
                <i class="fa-solid fa-headphones"></i>
            </div>
            <h1 class="boxh1">24/7 support</h1>
            <p class="boxp">Implementing 24/7 support in an IT company involves a combination of strategic planning, staffing, technology, and communication.</p>
         
        </div>
</div>

<!--Testimonials-->


    <div class="testimonials-text">
        <p>Testimonails</p>
        <h2>What Our Client Says</h2>
    </div>

    <!--Testimonails Cards-->

    <div class="testimonails-container">
        

            <div class="testimonails-box">
               <p>"It was an remarkable impact to work with the Best Software Services Firm. Their exceptional automation solution revolutionized our operations, saving us valuable time. Their outstanding work has made the positive impact on our business."</p>
               
                <h1 class="testimonails-h1">Mr Ravi Krishna</h1>
               <h6>Web Developer</h6>
               <img src="./Assets/Ellipse 7.png" alt="" width="50">
              
            </div>
    
            <div class="testimonails-box">
                <p>“The website's design is sleek and user-friendly, providing a seamless experience for clients. I highly recommend your services to anyone seeking top-notch website and admin panel development for their financial ventures.”</p>
                <h1 class="testimonails-h1">Mr Rahul Sharma</h1>
                <h6>Data Scientist</h6>
                <img src="./Assets/Ellipse 9.png" alt="" width="50">
            </div>
    
            <div class="testimonails-box">
                <p>“The increased visibility and accessibility have undoubtedly played a significant role in driving up sales and closing deals faster. It has truly transformed our business. Admin panel development for their financial ventures.”</p>
                <h1 class="testimonails-h1">Mr Debashish</h1>
                <h6>Full Stack Developer</h6>
                <img src="./Assets/Ellipse 10.png" alt="" width="50">
              
            </div>
    </div>
    

    <!--CASE STUDIES-->

<div class="case-studies">
    <div class="case-image">
        <img src="./Assets/Rectangle 9.png" alt="">
    </div>

    <div class="case-details">
       <h2>Get Real Time Updates</h2> 
       <p>
        By embracing real-time updates, you gain a significant competitive edge. Timely information enables proactive decision-making, swift responses to challenges, and the 
        ability to capitalize on emerging opportunities.</p>
        <button id="case-details-button"><a href="Contact.html">start for free</a></button>
    </div>
</div>

   <!--FOOTER-->

   <footer>
        
    <div class="footer-content">
    <div class="office">
        <h3>Our Head Office</h3>
        <p>123 Main Street, <br> Suite 101 Tech City, <br> CA 98765 United States</p>
    </div>

    <div class="primary-page">
        <h3>Primary Pages</h3>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>

    <div class="follow-us">
        <h3>Follow us</h3>
        <div class="icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
    </div>
    </div>
</div>

<hr>
</footer>

<script>
    function toggleNav() {
       const navList = document.querySelector('.nav-list');
       navList.style.display = navList.style.display === 'flex' ? 'none' : 'flex';
   }
</script>
</body>
</html>

